
#age{
    width: 100vw;
    height: 44px;
    position: relative;
}
 #age {
     font-weight: bold;
       text-align:center;
       line-height: 44px;
       color: #225FBA;   
    }
 #age span{
     position: absolute;
     right: 0;
 }   
.ul{
    width:100vw;
    height: 25vw;
    background: #ddd;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 4vw;
}
.ul li{
   font-size: 3vw;
   width: 30vw;
   height: 4vh;
   background: #F0F0F0;
   text-align: center;
   line-height: 4vh;
}
#wrapper{
  overflow: scroll;
}
.center{
    width:100vw;
    height: 60vh;
    margin-top:2vh;
    background: #fff;
}
.center{
    height: 100%;
    width: 95vw;
    margin-left:2.3vw;
    border: 1px solid #ccc;
    border-radius: 6px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.center p{
    width: 95vw;
    
}
.center p:first-child{
    width: 95vw;
    border-radius:6px;
    align-items: flex-start;
}
.center p:first-last{
    width: 95vw;
    border-radius:6px;
}
.center p:first-child img{
     width: 95vw;
     border-radius:6px;
}