.m-index {
  width: 100%;
  height: 100%;
  @include flexbox();
  @include flex-direction(column);
  #m-container {
    @include flex();
    width: 100%;
    position: relative;

  }

  footer {
    height: .44rem;
    ul{
      width:100%;
      height:100%;
      @include flexbox();
      @include border(1px 0 0 0,#ebedf0);
      background: #fff;
      li{
        @include flex();
        @include flexbox();
        @include flex-direction(column);
        @include justify-content();
        position: relative;
        text-align: center;
        b, i {
          font-weight: normal;
          display: block;
          text-align: center;
          @include flex();
          width: 100%;
          color: #666666;
        }
        i{
          height: .25rem;
          font-size: .2rem;
        }
        b{
          font-size: .12rem;
        }
        &.active *{
          color:#00a5ff;
        }
      }

    }
  }
}
